html 
    head
        link(rel="stylesheet" href="/output.css")    
        title= data.title
    body(class="bg-[rgb(34,36,82)]")
        div(class="mt-20 grid grid-cols-2 gap-4 m-auto  max-w-4xl") 
            div  
                img(src=`https://image.tmdb.org/t/p/w500${data.poster_path}`, alt="data.poster_path")
            div 
                h1.text-3xl.font-mono.font-bold(style="color:orange")= data.title
                p(class="text-orange-400 mt-4 font-semibold flex items-center gap-4")
                    img(src="/star.svg" alt="" class="w-6")
                    span= data.vote_average
                p.text-2xl.font-medium.mt-35.font-serif(style="color:white")= data.overview
